.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: auto 18.75rem 4rem 18.75rem;
}

.lista {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.lista a{
    text-decoration: none;
    color: #141414;
    padding: 20px;
    border: 2px solid transparent;
    font-size: 1.2rem;
}

.lista a:hover{
    border: 2px solid #141414;
    border-radius: 4px;
}