body {
  background-color: black;
  color: azure;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 6.25rem;
}

.timer-display {
  margin-top: -400px;
  font-size: 8.125rem;
  background-color: aqua;
  color: #000;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 20px;
}

.area-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 1.875rem;
}

.button-clock {
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
}

.button-clock:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  opacity: 0.8;
  transition: all 0.4s;
}
