body {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h2+p {
  color: yellow;
}

a[href="test"] {
  color: red;
}