* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(169, 169, 169);

}

.header-class {
    min-height: 15vh;
    background-color: #fff;
    border: 4px solid #000;
}

.p-pattern {
    font-size: 30px;
    font-weight: 500;
}

.main-class {
    min-height: 70vh;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item-1 item-2 item-3"
    "item-4 item-4 item-4"
    "item-5 item-5 item-6";
    gap: 15px;
}

.item {
    border: 4px solid #000;
    min-height: 200px;
    width: auto;
    background-color: #fff;
}

.item-1 {
    grid-area: item-1;
    min-width: 250px;
}

.item-2 {
    grid-area: item-2;
    min-width: 250px;
}

.item-3 {
    grid-area: item-3;
    min-width: 250px;
}

.item-4 {
    grid-area: item-4;
    min-width: 250px;
}

.item-5 {
    grid-area: item-5;
    min-width: 250px;
}

.item-6 {
    grid-area: item-6;
    min-width: 250px;
}

.footer-class {
    min-height: 15vh;
    background-color: #fff;
    border: 4px solid #000;
}

@media (max-width:830px) {
    .main-class {
        grid-template-areas:
        "item-1 item-1 item-1" 
        "item-2 item-2 item-2"
        "item-3 item-3 item-3"
        "item-4 item-4 item-4"
        "item-5 item-5 item-6";
    }
}

@media (max-width:555px) {
    .main-class {
        grid-template-areas:
        "item-1 item-1 item-1" 
        "item-2 item-2 item-2"
        "item-3 item-3 item-3"
        "item-4 item-4 item-4"
        "item-5 item-5 item-5"
        "item-6 item-6 item-6";
    }
}

@media (max-width:300px) {
    .main-class {
        padding: 10px;
    }
}