* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(170, 168, 170);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  grid-template-areas:
    "item_1 item_1 item_1"
    "item_2 item_3 item_3"
    "item_2 item_4 item_4"
    "item_5 item_5 item_5"
    "item_6 item_7 item_7"
    "item_8 item_7 item_7 "
    "item_9 item_9 item_9"
  ;
  gap: 15px;
}

.item-grid {
  border: 2px solid #000;
  font-size: 30px;
  background-color: #fff;
}

.item_1 {
  grid-area: item_1;
}

.item_2 {
  grid-area: item_2;
}

.item_3 {
  grid-area: item_3;
}

.item_4 {
  grid-area: item_4;
}

.item_5 {
  grid-area: item_5;
}

.item_6 {
  grid-area: item_6;
}

.item_7 {
  grid-area: item_7;
}

.item_8 {
  grid-area: item_8;
}

.item_9 {
  grid-area: item_9;
}