/*Definindo as variáveis*/
:root{
    --blue-color : #2c3e50;
    --yellow-color : #f1c40f;
    --red-color : #e74c3c;
}

* {
    color: #fff;
}

body {
    background-color: var(--blue-color);
}

.h3-week {
    color: var(--yellow-color);
}

.h2-week {
    color: #000;
    background-color: var(--yellow-color);
    border: 2px solid #000;
}

#astronomy-class {
    color: var(--red-color);
}