body {
    background-image: url(img/spacex.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: purple;
    font-size: 50px;
    border: 1px solid yellow;
}

li {
    color: green;
}