* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  max-height: 50vh;
  justify-content: center;
  border: 2px solid #000;
  padding: 50px;
  font-size: 25px;
  margin-top: 20vh;
}

.botao-form {
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
