body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'fira sans', Arial, Helvetica, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.position-absolute {
    position: absolute;
}