@import "colors/colors.scss";
@import "size/size.scss";



ul {
  li{
    background-color: $color-01;
  }
}

ol {
  li {
    background-color: $color-02;
    &:hover {
    height: $size-height;
  }
  }
}