* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-class {
    height: 13vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img-icon {
    width: 40px;
    height: auto;
}

.header-img-logo {
    width: 300px;
    height: auto;
}

.header-ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.header-ul li{
    list-style: none;
    cursor: pointer;
}

.header-ul li a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.header-ul li a:hover {
    background-color: #fff;
    color: #FF003A;
    transition: 0.5s;
}